@model GTDoro.Models.Task
@using GTDoro.ExtensionMethods;

@{
    ViewBag.Operation = GTDoro.Models.Operation.TaskInfo;
    Layout = "~/Views/Task/_TaskLayout.cshtml";
}

<div>
    @Html.Partial("_TaskInfo")
</div>