@{
    ViewBag.Title = "Confirm Email";
    Layout = "~/Views/Shared/Layouts/_Landing.cshtml";
}

<div class="form-box body bg-black">
    <h2>@ViewBag.Title.</h2>
    <div>
        <p>
            Thank you for confirming your email. Please Log in by using the form at the top.
        </p>
    </div>
</div>