@model GTDoro.Web.ViewModels.Identity.RegisterViewModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="GTDoro is a free app which provides similar functions to GTD and Pomodoro. GTDoro is a personal project management and productivity system which makes you more efficient.">
    <meta name="author" content="Gustavo Quevedo">
    <meta name="keywords" content="gtd,pomodoro,free,app,project,tool,agile development,personal productivity system,gtdoro,software,web" />
    <meta content="http://www.gustavoquevedo.com" name="Identifier" scheme="URI" />
    <meta content="http://www.gustavoquevedo.com" name="publisher" />
    <meta content="Gustavo Quevedo" name="creator" />
    <meta content="Spain" name="Coverage.jurisdiction" />
    <meta content="GTDoro. Personal project management app" name="page-topic" />
    <meta content="All" name="audience" />
    <meta content="General" name="Rating" />
    <meta content="Global" name="distribution" />
    <meta content="Document" name="ObjectType" />
    <meta content="index follow" name="googlebot" />
    <meta content="index,follow,all" name="robots" />
    <meta content="7 Days" name="revisit-after" />
    <meta content="7 days" name="revisit" />
    <meta name="language" content="english">

    <title>GTDoro :: Free GTD + Pomodoro based app</title>

    <!-- Bootstrap core CSS -->
    <link href="/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="/admin-lte/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- Add custom CSS here -->
    <link href="/Content/landing-page.css" rel="stylesheet">
    <link href="/admin-lte/css/AdminLTE.css" rel="stylesheet" type="text/css" />
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-36792204-3', 'auto');
        ga('send', 'pageview');

    </script>
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.Partial("_Logo")
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                @Html.Action("LightLogin", "Account")
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-9">
                    <div class="intro-message">
                        <h1>GTD + Pomodoro based app</h1>
                        @*<h1>Make You More Efficient</h1>*@
                        <h3><span class="gtdoro">GTDoro</span> The Ultimate Tool to Manage and Track your Personal Projects <span class="free">Free</span></h3>

                    </div>
                    <div id="screenshot-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#screenshot-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#screenshot-carousel" data-slide-to="1" class=""></li>
                            <li data-target="#screenshot-carousel" data-slide-to="2" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="slide-image-container">
                                    <img src="/Content/img/landing/mobiles-hand.png" alt="Mobile">
                                </div>
                                <ul class="app-features list-inline">
                                    <li>Suitable for Smarpthones</li>
                                    <li>Simple and Intuitive UI</li>
                                    <li>All-In-One Toolbox</li>
                                </ul>
                            </div>
                            <div class="item">
                                <div class="slide-image-container">
                                    <img src="/Content/img/landing/responsive.png" alt="Responsive">
                                </div>
                                <ul class="app-features list-inline">
                                    <li>Responsive Design</li>
                                    <li>No Installation Needed</li>
                                    <li>Data Sync Among Devices</li>
                                </ul>
                            </div>
                            <div class="item">
                                <div class="slide-image-container">
                                    <img src="/Content/img/landing/tablets.png" alt="Tablets">
                                </div>
                                <ul class="app-features app-features-font-reduced list-inline">
                                    <li>Make your Work Effective</li>
                                    <li>Manage Projects Simply</li>
                                    <li>Remember To-Dos</li>
                                </ul>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#screenshot-carousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#screenshot-carousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>                    
                </div>
                <div class="col-lg-3">
                    @RenderBody()
                    <div id="social-buttons" class="top-buffer">
                        <a href="https://facebook.com/gtdoro" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://google.com/+GTDoro" class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="https://twitter.com/gtdoro" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/company/gtdoro" class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        How it works
                    </h2>
                    <p class="lead">There are three hierarchical levels in this technique: <strong>projects, tasks and actions</strong>.</p>
                    <p class="lead">Work is measured in indivisible <strong>25-minute</strong> units, which usually are followed by a subsequent 5-minute break.</p>
                    <p class="lead">Before starting to work, an <strong>active action</strong> must be selected. After the 25-minute period is finished, just <strong>confirm</strong> your work.</p>
                </div>
                <div class="col-lg-6 col-lg-offset-1 col-sm-6">
                    <img class="img-responsive" src="/Content/img/landing/work.png" alt="How it works">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        What you get
                    </h2>
                    <p class="lead">GTDoro stores the time spent working on different tasks for <strong>future reference</strong>. Just a few clicks are needed.</p>
                    <p class="lead">You'll get useful information to <strong>improve the organization and productivity of your projects.</strong></p>
                    <p class="lead"><strong>Tables, reports, calendars</strong> and <strong>charts</strong> show detailed information about your work.</p>
                    <p class="lead"><strong>Filter and sort</strong> your data in order to get exactly what you need.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/Content/img/landing/improvements.png" alt="What you get">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        Helpful tools
                    </h2>
                    <p class="lead"><strong>Timer</strong>: The remaining time is always visible and an alarm will sound when the time is over.</p>
                    <p class="lead"><strong>Tags</strong>: By using tags, you can add contexts, organize and find your elements easily.</p>
                    <p class="lead"><strong>Collector</strong>: Capture your ideas and process them later on, releasing your mind for other tasks.</p>
                    <p class="lead"><strong>Browsers</strong>: Find your items by using search and autocomplete functionality, or just by browsing.</p>
                </div>
                <div class="col-lg-6 col-lg-offset-1 col-sm-6">
                    <img class="img-responsive" src="/Content/img/landing/tools.png" alt="Tools">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    @*<div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect to Start Bootstrap:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->*@
    <hr />
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                    @*<ul class="list-inline">
                        <li>
                            <a href="#home">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>*@
                    <p class="copyright">GTDoro is a web application suitable for the management of personal projects. GTDoro provides functions that are similar to those described on GTD&copy; or Pomodoro Technique&copy;.</p>
                    <p class="copyright text-muted small">GTD&copy; and Getting Things Done&copy; are registered trademarks of the David Allen Company. This application is NOT affiliated with or endorsed by the David Allen Company.</p>
                    <p class="text-muted small">Pomodoro Technique&copy; and Pomodoro™ are trademarks registered by Francesco Cirillo. This application is NOT affiliated with or endorsed by the Pomodoro Technique® or Francesco Cirillo.</p>
                    <p class="copyright text-muted small"><a href="http://gustavoquevedo.com" title="Gustavo Quevedo's website" target="_blank">Copyright &copy; Gustavo Quevedo 2014. All Rights Reserved</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript -->    
    @Scripts.Render("~/bundles/jquery")
    <script src="/admin-lte/js/bootstrap.js"></script>

</body>

</html>
