@model ICollection<GTDoro.Models.Action>

<div class="panel-container tall">
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>
                    <span class="gt-action">@Html.ActionLink(item.PathItemName, "Details", "Action", new { id = item.ID }, null)</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompletedPomodorosCount)/@Html.DisplayFor(modelItem => item.Estimate)
                </td>
                <td>                
                    @Html.DisplayFor(modelItem => item.Deadline)
                </td>
                <td></td>
            </tr>
        }
    </table>
</div>
